.tv-show-wrapper {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#141e30, #243b55);
  }     