.post-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .post {
    display: flex;
    justify-content: center;
  
    .post-info {
      display: flex;
  
      .post-comments {
        display: flex;
        flex-direction: column;
        max-height: 500px;
  
        .comments {
          flex: 1 1 auto;
          overflow-y: auto;
        }
      }
    }
  }
}
