ul {
    &.tabs {
      height: 80px;
      margin: 0 auto;
      list-style: none;
      overflow: hidden;
      padding: 0;
  
      li {
        float: left;
        width: 130px;
  
        span {
          position: relative;
          display: block;
          height: 30px;
          margin-top: 40px;
          padding: 10px 0 0 0;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          text-align: center;
          text-decoration: none;
          color: #ffffff;
          background: #6edeef;
          -webkit-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
          border: 0px solid #000000;
          -webkit-transition: padding 0.2s ease, margin 0.2s ease;
          -moz-transition: padding 0.2s ease, margin 0.2s ease;
          -o-transition: padding 0.2s ease, margin 0.2s ease;
          -ms-transition: padding 0.2s ease, margin 0.2s ease;
          transition: padding 0.2s ease, margin 0.2s ease;
  
          &:hover {
            margin: 35px 0 0 0;
            padding: 10px 0 5px 0;
          }
  
          &.active {
            margin: 30px 0 0 0;
            padding: 10px 0 10px 0;
            background: #545f60;
            color: #6edeef;
            z-index: 4;
            outline: none;
          }
        }
  
        &:first-child span {
          z-index: 3;
          -webkit-border-top-left-radius: 8px;
          -moz-border-radius-topleft: 8px;
          border-top-left-radius: 8px;
        }
  
        &:nth-child(2) span {
          z-index: 2;
        }
  
        &:last-child span {
          z-index: 1;
          -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
          -webkit-border-top-right-radius: 8px;
          -moz-border-radius-topright: 8px;
          border-top-right-radius: 8px;
        }
      }
    }
  }
  
  .group:before,
  .group:after {
    content: " ";
    display: table;
  }
  .group:after {
    clear: both;
  }